{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2021-12",
        "decoratorsBeforeExport": true
      }
    ],
    [
      "@babel/plugin-proposal-pipeline-operator",
      { "proposal": "hack", "topicToken": "%" }
    ]
  ]
}
